<strong>Welcome to Gympoint, {{name}}</strong>
<br />
<p>
    <strong>Membership details:</strong><br /><br />
    <strong>Plan: </strong> {{planTitle}}<br />
    <strong>Price:</strong> R$ {{fullPrice}}<br />
    <strong>Ends: </strong> {{planEndDate}}
</p>